@import "variables";

@media (min-width: 576px) {
  html { font-size: 20px; }
}

html, body {
  height: 100%;
  font-family: 'Tenali Ramakrishna', sans-serif;
  color: $av-light-yellow;
  line-height: 1.25rem;
}

// Utilities

.bg-black-70 { background-color: $black-70; }
.bg-black-30 { background-color: $black-30; }
.text-white-50 { color: $white-50; }
.text-white-40 { color: $white-40; }
.text-white-30 { color: $white-30; }
.text-av-light-yellow { color: $av-light-yellow; }
.fill-av-light-yellow { fill: $av-light-yellow; }
.text-av-light-green { color: $av-light-green; }
.fill-av-light-green { fill: $av-light-green; }
.top-0 { top: 0; }
.left-0 { left: 0; }

.line-height-sm {
  line-height: 1rem;
}


// Button
button[disabled] { cursor: not-allowed; }

// Links
a.disabled { pointer-events: none; }

// SVG icons
.av-icon { width: 0.8rem; }
.av-icon.av-icon-animated {
  animation-name: jump;
  animation-duration: 0.3s;
}

@keyframes jump {
  0% {transform: translate(0)}
  50% {transform: translateY(-0.3rem)}
  100% {transform: translateY(0px)}
}

.disabled .av-icon { fill-opacity: 0.5; }

// The Character Selector
#the-char-selector {
  .tcs-no-selection {
    color: $av-light-green;
    text-shadow: 0px 0px 2px black, 0px 0px 3px black, 0px 0px 4px black;

    &:hover {
      text-shadow: 0px 0px 2px black, 0px 0px 3px $av-dim-green, 0px 0px 4px black;
    }
  }

  .tcs-selection {
    color: $av-light-yellow;
    text-shadow: 0px 0px 2px black, 0px 0px 3px black, 0px 0px 4px black;

    &:hover {
      text-shadow: 0px 0px 2px black, 0px 0px 3px $av-light-yellow, 0px 0px 4px black;
    }
  }

  .dropdown-menu {
    backdrop-filter: blur(1px);
  }

  .dropdown-item:hover {
    background-color: black;
  }
}

// Info section with a rounded border
.info-section {
  border-radius: 0.3rem;
  border: 1px solid $av-light-yellow;
  padding: 1rem;

  .info-header {
    margin-top: -1.5rem;
    padding-bottom: 0.25rem;
    text-align: center;

    .info-header-text {
      display: inline-block;
      padding: 0 1rem;
      backdrop-filter: blur(10px);
      font-size: 1.1rem;
    }
  }
}

// Scrollbar
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: $black-70;
}

::-webkit-scrollbar-thumb {
  background: $av-shadow-green;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: $av-dim-green;
}