$success: #629c72;
$danger: #b3003b;
$warning: #FFDEAD;
$av-dim-green: #7c8a80;
$av-light-green: #a5c2ad;
$av-shadow-green: #536157;
$black-30: rgba(0, 0, 0, 0.3);
$black-70: rgba(0, 0, 0, 0.7);
$white-05: rgba(255, 255, 255, 0.05);
$white-50: rgba(255, 255, 255, 0.5);
$av-light-yellow: #FFDEAD;
$input-color: black;